name: CI Laravel Task Manager

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, pdo, pdo_mysql
          coverage: none

      - name: Install dependencies
        working-directory: laravel-app
        run: composer install --no-interaction --prefer-dist

      - name: Copy .env
        working-directory: laravel-app
        run: cp .env.example .env

      - name: Generate app key
        working-directory: laravel-app
        run: php artisan key:generate

      - name: Run tests
        working-directory: laravel-app
        run: php artisan test
